@media screen and (min-width: 1000px) {
    .quiz-container {
      width: 500px;
    }
}

@media screen and (max-width: 900px) {
    .quiz-container {
      width: 500px;
    }
}

html {
    height: 100%;
}

body {
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-height: 100vh;
    height: 100vh;
    background-attachment: fixed;
    background-image: url('Images/background.webp'); /* Replace with your image path */
    background-size: cover; /* Scale the image to cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark {
    font-family: "neue-kabel", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #ee2891;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000; 
}

.quiz-container {
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    background-image: url('Images/card.jpg'); /* Replace with your image path */
    background-size: cover; /* Scale the image to cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    padding: 50px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    font-weight: bold; 
    min-height: fit-content;
    margin: 60px;
    box-sizing: border-box;
}

.dark-container {
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    background-color: #ee2891;
    color: #fde4e0;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    font-weight: bold; 
}

.quiz-page {
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: "new-spirit", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    line-height: 10px;

}
p{
    font-family: "new-spirit", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

p1{
    font-family: "neue-kabel", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-height: 8px;
}

p2{
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.large-rectangular {
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    width: 100%;
    font-size: 20px;
    max-width: 100%;
    padding: 10px 20px;
    background-color: #ee2891;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("Images/button.jpg");
    background-size: 150%;
    align-self: center;
}

.large-rectangular:hover {
    background-image: url("Images/hover.jpg");
    background-size: 150%;
    color: #ff2894;
}


#result {
    display: none;
    width: 100%;
    max-width: 400px;
    align-self: center;
}


#quiz p{
    font-size: 22px;
    margin: 10px 0;

}
#result p {
    font-size: 18px;
    margin: 10px 0;
}

#quiz {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#quiz img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: auto;
    font-size: 24px;
}

.question-image {
    max-width: 360px;
    height: auto;
    align-items: center;
    margin: 4px;
}

.keywords-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.keyword-bubble {
    background-color: #23282d;
    color: white;
    border-radius: 16px;
    padding: 4px 12px;
    margin: 4px;
    font-size: 14px;
}

.result-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.result-text {
    flex-grow: 1;
}

.result-image-container {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.result-image img {
    max-width: 90%;
    height: auto;
    align-items: center;
    margin: 4px;
    margin-top: 20px;
}


.start-button {
    background-image: url("Images/button.jpg");
    background-size: 150%;
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ee2891; 
    border: none;
    color: #ffffff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-image: url("Images/hover.jpg");
    background-size: 150%;
    color: #ff2894;
}


.restart-button {
    background-image: url("Images/button.jpg");
    background-size: 150%;
    font-family: "neue-kabel", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ee2891; 
    border: none;
    color: #ffffff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-image: url("Images/hover.jpg");
    background-size: 150%;
    color: #ff2894;
}


.top-image {
    width: 100%;
    object-fit: cover;
}

a {
    font-size: 20px;
    color: #4b2d2d;
}

a:hover {
    color: #ee2891;
}


a.no-underline {
    color: #000000;
    text-decoration: none;
}

a.no-underline:hover {
    color: #ee2891;
    text-decoration: none;
}

.hover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.tooltip {
    visibility: hidden;
    width: 200px;
    font-size: 10px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.hover-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


footer {
    text-align: center;
}
  
footer p {
    font-size: 10px; 
    color: #843b62;
}

.container {
    position: relative;
    display: inline-block;
}
  
.top-image2 {
    display: block;
    width: 100%;
    height: auto;
}
  
.invisible-button {
    position: absolute;
    top: 170px; 
    left: 300px; 
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}